---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/common/oauth2/v2.0/token
    body:
      encoding: UTF-8
      string: code=FILTERED_AUTH_CODE&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fmicrosoft%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic FILTERED_BASIC_AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","scope":"Mail.Read Mail.Send User.Read profile
        openid email","expires_in":3864,"ext_expires_in":3864,"access_token":"FILTERED_ACCESS_TOKEN","refresh_token":"FILTERED_REFRESH_TOKEN"}'
  recorded_at: Thu, 25 Dec 2025 19:55:42 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer FILTERED_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["627445811"],"displayName":"Elio Capella Sánchez","givenName":"Elio","jobTitle":null,"mail":"admin@eliocapella.onmicrosoft.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":"es","surname":"Capella Sánchez","userPrincipalName":"admin@eliocapella.onmicrosoft.com","id":"dcb75d6e-5dbf-4ed5-b82e-be9243b006b2"}'
  recorded_at: Thu, 25 Dec 2025 19:55:43 GMT
recorded_with: VCR 6.3.1
