<p>
  <%= t("password_mailer.reset.intro") %>
  <%= link_to t("password_mailer.reset.link"), edit_password_url(@user.password_reset_token) %>.

  <%= t("password_mailer.reset.expiry", time: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %>
</p>
